/* Font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header {
    border: 3px solid red;
    
}
.banner {
    border: 3px solid green;
    background-color: rgba(231, 124, 172, 0.096);
}

.card {
    background-color: rgba(128, 128, 128, 0.151);
    border-radius: 20px;
}
.womenjacket {
    margin-top: 30px;
    min-height: 150vh;
    border: 5px solid red;
    margin-bottom: 30px;
}
.menjacket {
    border: 5px solid goldenrod;
    margin-top: 50px;
}
