/* Font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
.colorbg {
    background-color: rgba(141, 124, 124, 0.267);
    border-radius: 20px;
}